* {
	font-family: sans-serif;
	color: #3454D1;
}

/*@media screen and (max-width: 750px) {
	body{
		background-size: cover;
	}
	nav {
		position: fixed;
		top: 0;
		margin: 0;
		width: 100%;
		background-color: rgba(79, 109, 122, 1);
		border-radius: 10px;
		}
	#container{
		width:100%;
		
	}
	#container1{
		width: 100%
	}
}*/
/*GENERAL ABOVE*/


/*Contact Page*/


/*
#contactdetails a{
	color:#084C61
}*/

.maps {
	width: 96%;
	height: 100%;
	max-width: 100%;
	max-height:;
	border-radius: 10px;
	padding: 10px;
	border: 5px dashed #E8E9EB;
}

#map {
	display: inline-block;
	max-width: 47%;
	width: 50%;
	margin-bottom: 20px;
	padding: 20px;
}

#contactdetails a {
	color: #3454D1;
	font-size: 20px;
	padding: 20px;
}

#contactdetails1  ul{
	margin-top: 0;
}
#contactdetails1  h2{
	padding-top: 40px;
	padding-right: 40px;
	padding-left: 40px;
}
#contactdetails1 {
	display: block;
	max-width: 50%;
	width: 50%;
	padding: 20px;
}
#contactdetails {
	display:block;
	color: #3454D1;
	max-width: 47%%;
	margin-right: 5px;
	padding: 5px
}

#mapandcontact{
	display: inline-flex;
	width: 100%;
	background: linear-gradient(to right, #C8ADC0 50%, #6665DD 50%);
	border-radius: 10px;
	margin: 0;

}

#commentbox {
	width: 45%;
	height: 150px;
	text-align: left;
	margin-bottom: 10px;
	color: #000000;
	font-size: 18px;
	border-radius: 7px;
}

.submitbutton {
	width: 150px;
	height: 100px;
	color: #000000;
	padding: 20px
}

#input {
	margin-bottom: 10px;
	text-align: left;
	color: #000;
	padding: 5px;
	border-radius: 5px;
}

#form h2 {
	color: #C8ADC0;
}

#form h1 {
	color: #C8ADC0;
}

.formitems {
	padding: 20px;
	color: #C8ADC0;
	font-size: 20px;
	margin-left: 20px;
}

#form h1{
	padding: 20px;
}

#form {
	display: inline-block;
	background-color: #3454D1;
	width: 100%;
	border-radius: 10px;
	margin-bottom: 0px;
}


/*Tax Page*/


/*Third Tax Group*/
.taxcontainer6 li {
	color: #000;
	text-align: left;
	list-style-type: none;
	font-size: 25px;
	padding: 10px;
}

/*Replaced by ID:#taxcontainer0
.taxcontainer6 {
	width: auto;
	padding-left: 15px;
	padding-right: 20px;
	background-color: none;
	margin-top: 0px;
	margin-left: 0px;
	margin-right: 0px;
}*/


.taxcontainer5 h2 {
	color: #084C61;
	text-decoration: underline;
}

.taxcontainer5 img {
	border: 5px solid #C8ADC0;
	padding: 20px;
	border-radius: 10px;
}

.taxcontainer5 h1 {
	color: #C8ADC0;
}

/*Replaced by ID:#taxcontainer0
.taxcontainer5 {
	background-color: #3454d1;
	width: auto;
	padding-top: 20px;
	padding-bottom: 40px;
	padding-left: 40px;
	margin-left: 0px;
	margin-bottom: 0px;
}*/

/*Second Tax Group*/
.taxcontainer4 img {
	border: 5px solid #3454D1;
	padding: 20px;
	border-radius: 10px;
}

.taxcontainer4 h3 {
	color: ;
	text-decoration: underline;

}

/*Replaced by ID:#taxcontainer00
.taxcontainer4 {
	background-color: #E8E9EB;
	width: auto;
	padding-top: 20px;
	padding-bottom: 40px;
	padding-right: 40px;
	margin-top: 0px;
	margin-bottom: 0px;
	margin-right: 0px;
	margin-left: 0px;
}*/

.taxcontainer3 li {
	color: #000;
	padding: 10px;
	text-align: right;
	font-size: 25px;
	list-style-type: none;
}

/*Replaced by ID:#taxcontainer00
.taxcontainer3 {
	width: auto;
	padding-top: 20px;
	padding-right: 20px;
	padding-bottom: 0px;
	padding-left: 15px;
	background-color: none;
	margin: 0px;
}*/

/*First Tax Group*/

.taxcontainer2 li {
	color: #000;
	padding: 10px;
	text-align-last: left;
	font-size: 25px;
	list-style-type: none;
}

/*Replaced by ID:#taxcontainer0
.taxcontainer2 {
	width: auto;
	background-color: none;
	padding-top: 20px;
	padding-bottom: ;
	padding-right: 40px;
	margin-bottom: 0px;
	margin-left: 0px;
	margin-right: 0px;
}*/

.taxcontainer1 h1 {
	color: #C8ADC0;
}

.taxcontainer1 img {
	border: 5px solid #C8ADC0;
	border-radius: 10px;
	padding: 20px
}

/*Replaced by ID:#taxcontainer0
.taxcontainer1 {
	width: auto;
	padding-top: 20px;
	padding-bottom: 40px;
	padding-left: 40px;
	margin-bottom: 0px;
	margin-right: 0px;
	margin-left: 0px;
}*/

#taxcontainers {
	display: inline-block;
	width: 47%;
	border-radius: 10px;
	margin: 0px;
}

#taxcontainer00{
	width:100%;
	height:auto;
	background: linear-gradient(to right, #fff 50%, #E8E9EB 50%);
	border-radius: 10px;
	text-align: center;
}

#taxcontainer0{
	width:100%;
	height:auto;
	background: linear-gradient(to right, #3454D1 50%, #fff 50%);
	border-radius: 10px;
	text-align: center;
}


/*Home Page*/

/*Third Container*/
.unique:hover{
	transform: scale(1.03)
}

#container3 h1 {
	color: #C8ADC0
}

.unique{
	;
}
.unique img{
	border: 5px solid #C8ADC0;
	padding: 10px;
	border-radius: 10px;
	width: auto;
	height:auto;
	max-width: 100%;
}

.containerlinks3 {
	color: #E8E9EB;
	text-decoration: none;
}

#container3 img{
	max-width: 80%;
}

#container3 {
	display: inline-block;
	background-color: #3454d1;
	width: 100%;
	max-height:600px;
		height:100%;
	margin: 0;
	border-radius: 10px;
	padding-bottom: 40px;
}

#thirdcontainer{
	display: block;
	text-align: center;
	width: 100%;
	max-height: 100%;
}
/*Second Container*/

.container2img:hover{
	transform: scale(1.03)
}

#container2 h1{
	color:#C8ADC0;
	max-width: 100%
}

#container2 li {
	color: #C8ADC0;
}

#container2 img{
	max-width: 100%;
	border: 5px solid #C8ADC0;
	padding: 10px;
	border-radius: 10px;
	width:auto;
	height: auto;
}

#container2 {
	display: inline-block;
	/*background-color: #E8E9EB;*/
	padding: 20px;
	max-width: 47%;
	width: auto;
	max-height: auto;
	border-radius: 10px;
	margin-left:11.5%;
}

#secondcontainer{
	display: block;
	text-align: center;
	width: 100%;
	max-height: 100%;
}
/*First Container*/
.container1img:hover{
	transform: scale(1.03)
}
#container1 h1{
	max-width: 100%;
}

#container1 li {
	color: #3454D1;
	text-decoration: none;
}

#container1 img{
	border: 5px solid #3454D1;
	padding: 10px;
	border-radius: 10px;
	max-width: 100%;
	width: auto;
	height: auto;
}

#container1 {
	display: inline-block;
	/*background-color: #C8ADC0;*/
	padding: 20px;
	max-width: 47%;
	width: auto;
	border-radius: 10px;
	margin-right:;
}

#container1and2{
	/*display:block;*/
	width:100%;
	max-width: auto;
	max-height:400px;
	background: linear-gradient(to right, #C8ADC0 50%, #6665DD 50%);
	border-radius: 10px;
}

#firstcontainer {
	display:flex;
	text-align: center;
	width: 100%;
	max-height: 100%;
}

.indeximgs{
	border: 5px solid #3454D1;
	padding: 10px;
	border-radius: 10px;
	max-width: 100%;
	width:auto;
	height: auto;
	margin:50px;
}

/*Universal Container Items or Used Once*/
#images {
	display: block;
	background-color: rgba(200, 173, 192, 0.5);
	padding: 30px;
	border-radius: 10px;
}

#introimgs {
	max-height: auto;
	max-width: 100%;
}

.containerlinks {
	width: 100%;
	text-decoration: none;
}

#header1 {
	display: block;
	color: #3454D1;
	/*background-color: rgba(219, 80, 74, 0.5);*/
	border-radius: 5px;
	padding: 10px;
	text-decoration: underline;
}

#introimg {
	text-align: center;
}


/*Unique to index.html*/
#container h1 {
	text-decoration: none;
	font-weight: 450;
	padding: 20px;
}

#container {
	display: block;
	border-radius: 10px;
	margin-top: 60px;
}

/*Social Media*/
.ig {
	display:inline;
	padding: 20px;
	border: 5px dashed #E8E9EB;
	border-radius: 10px;
	max-height: 500px;
	height: 500px;
	margin:50px;
}

#socialmedia h1 {
	display: block;
}

#socialmedia {
	display: inline-block;
	background-color: #C8ADC0;
	width: 100%;
	padding-top: 40px;
	border-radius: 10px;
	padding-bottom: 40px;
	text-align: center;
	margin-top: 0px;
}


/*Media & Graphics*/

.stats img:hover{
	transform: scale(1.03)
}
.stats img{
	max-width: 100%;
}

.stats {
	display: inline-block;
	border: 5px dashed #3454D1;
	border-radius: 10px;
	margin:10px;
	max-width: 30%;
	width:auto;
	height:auto;
}

#numbers h1 {
	font-weight: 200;
}

#numbers {
	padding: 40px;
	background-color: #E8E9EB;
	text-align: center;
}

#graphx {
	/*display: inline-flex;*/
	width: auto;
	max-width: 100%;
	text-align: center;
}

#videos h1 {
	color: #C8ADC0;
	padding: 25px;
}

#videos {
	display: block;
	color: #E3B505;
	background-color: #6665DD;
	width: 100%;
	padding-top: 30px;
	padding-bottom: 50px;
	border-radius: 10px;
	margin-bottom: 38px;
	text-align: center;
}

/*Nav, Footer, Logo, etc...*/

#logobackdrop {
	display: inline-block;
	background-color: rgba(200, 173, 192, 0.5);
	border-radius: 10px;
	padding-top: 30px;
	margin-top: 60px;
	width: 100%
}

#logo1 {
	/*display: inline-block;*/
	border: 5px solid #3454D1;
	border-radius: 150px;
	margin-bottom: 20px;
}

nav li a {
	display: inline-block;
	text-decoration: none;
	color: #3454D1;
	width: auto;
	padding: 10px
}

nav li a:hover {
	background-color: #3454D1;
	color: #E8E9EB;
	border-radius: 5px;
	font-weight: 600;
}

nav li {
	display: inline;
	color: #E8E9EB;
	border-radius: 5px;
	width: auto;
	float: left;
}

nav {
	position: fixed;
	top: 0;
	margin-top: 0;
	margin-right: 0;
	margin-left: 0;
	padding-bottom: 5px;
	width: 100%;
	background-color: #E8E9EB;
	border-radius: 10px;
	max-width: 100%;
}

footer {
	position: fixed;
	bottom: 0;
	margin-bottom: 0;
	width: 100%;
	background-color: #E8E9EB;
	padding: 10px;
	border-radius: 10px;
	margin-top: 0;
	color: #3454D1;
}

html, body {
	background-size: cover;
	width: 100%;
	height: 100%;
	margin: 0;
	overflow-x: hidden;
}
