* {
	text-align: center;
	font-family: sans-serif;
	color: #3454D1;
}

/*@media screen and (max-width: 750px) {
	body{
		background-size: cover;
	}
	nav {
		position: fixed;
		top: 0;
		margin: 0;
		width: 100%;
		background-color: rgba(79, 109, 122, 1);
		border-radius: 10px;
		}
	#container{
		width:100%;
		
	}
	#container1{
		width: 100%
	}
}*/
/*GENERAL ABOVE*/


/*Contact Page*/


/*
#contactdetails a{
	color:#084C61
}*/

.maps {
	width: 600px;
	height: 450px;
	max-width: 600px;
	max-height: 450px;
	border-radius: 10px;
	padding: 30px;
}

/*#map {
	display: inline-block;
	border: 5px solid #084C61;
	border-radius: 10px;
	width: 50%;
	margin-bottom: 20px;
	background-color: rgba(219, 80, 74, 0.5);
}*/

#contactdetails a {
	color: #C8ADC0;
	font-size: 20px;
	padding: 20px;

}

#contactdetails {
	display: inline;
	color: #C8ADC0;
	border-right: 2px solid;
	margin-right: 5px;
	padding: 5px
}

#commentbox {
	width: 45%;
	height: 150px;
	text-align: left;
	margin-bottom: 10px;
	color: #000000;
	font-size: 18px;
	border-radius: 7px;
}

.submitbutton {
	width: 150px;
	height: 100px;
	color: #000000;
	padding: 20px
}

#input {
	margin-bottom: 10px;
	text-align: left;
	color: #000;
	padding: 5px;
	border-radius: 5px;
}

#form h2 {
	color: #C8ADC0;
}

#form h1 {
	color: #C8ADC0;
}

.formitems {
	padding: 20px;
	color: #C8ADC0;
	font-size: 20px;
}

#form {
	display: inline-block;
	background-color: #3454D1;
	padding: 30px;
	width: 80%;
	border-radius: 10px;
	margin-bottom: 20px;
}


/*Tax Page*/


/*Third Tax Group*/
.taxcontainer6 li {
	color: #000;
	text-align: left;
	list-style-type: none;
	font-size: 25px;
	padding: 10px;
}

/*Replaced by ID:#taxcontainer0
.taxcontainer6 {
	width: auto;
	padding-left: 15px;
	padding-right: 20px;
	background-color: none;
	margin-top: 0px;
	margin-left: 0px;
	margin-right: 0px;
}*/


.taxcontainer5 h2 {
	color: #084C61;
	text-decoration: underline;
}

.taxcontainer5 img {
	border: 5px solid #C8ADC0;
	padding: 20px;
	border-radius: 10px;
}

.taxcontainer5 h1 {
	color: #C8ADC0;
}

/*Replaced by ID:#taxcontainer0
.taxcontainer5 {
	background-color: #3454d1;
	width: auto;
	padding-top: 20px;
	padding-bottom: 40px;
	padding-left: 40px;
	margin-left: 0px;
	margin-bottom: 0px;
}*/

/*Second Tax Group*/
.taxcontainer4 img {
	border: 5px solid #3454D1;
	padding: 20px;
	border-radius: 10px;
}

.taxcontainer4 h3 {
	color: ;
	text-decoration: underline;

}

/*Replaced by ID:#taxcontainer00
.taxcontainer4 {
	background-color: #E8E9EB;
	width: auto;
	padding-top: 20px;
	padding-bottom: 40px;
	padding-right: 40px;
	margin-top: 0px;
	margin-bottom: 0px;
	margin-right: 0px;
	margin-left: 0px;
}*/

.taxcontainer3 li {
	color: #000;
	padding: 10px;
	text-align: right;
	font-size: 25px;
	list-style-type: none;
}

/*Replaced by ID:#taxcontainer00
.taxcontainer3 {
	width: auto;
	padding-top: 20px;
	padding-right: 20px;
	padding-bottom: 0px;
	padding-left: 15px;
	background-color: none;
	margin: 0px;
}*/

/*First Tax Group*/

.taxcontainer2 li {
	color: #000;
	padding: 10px;
	text-align-last: left;
	font-size: 25px;
	list-style-type: none;
}

/*Replaced by ID:#taxcontainer0
.taxcontainer2 {
	width: auto;
	background-color: none;
	padding-top: 20px;
	padding-bottom: ;
	padding-right: 40px;
	margin-bottom: 0px;
	margin-left: 0px;
	margin-right: 0px;
}*/

.taxcontainer1 h1 {
	color: #C8ADC0;
}

.taxcontainer1 img {
	border: 5px solid #C8ADC0;
	border-radius: 10px;
	padding: 20px
}

/*Replaced by ID:#taxcontainer0
.taxcontainer1 {
	width: auto;
	padding-top: 20px;
	padding-bottom: 40px;
	padding-left: 40px;
	margin-bottom: 0px;
	margin-right: 0px;
	margin-left: 0px;
}*/

#taxcontainers {
	display: inline-block;
	width: 47%;
	border-radius: 10px;
	margin: 0px;
}

#taxcontainer00{
	width:100%;
	height:auto;
	background: linear-gradient(to right, #fff 50%, #E8E9EB 50%);
	border-radius: 10px;
}

#taxcontainer0{
	width:100%;
	height:auto;
	background: linear-gradient(to right, #3454D1 50%, #fff 50%);
	border-radius: 10px;
}


/*Home Page*/

/*Third Container*/
#container3 h1 {
	color: #C8ADC0
}

.unique {
	border: 5px solid #C8ADC0;
	padding: 10px;
	border-radius: 10px;
}

.containerlinks3 {
	color: #E8E9EB;
	text-decoration: none;
}

#container3 {
	display: inline-block;
	background-color: #3454d1;
	width: 100%;
	margin: 0;
	border-radius: 10px;
	padding-bottom: 40px;
}

/*Second Container*/
.container2img {
	border: 5px solid #3454D1;
	padding: 10px;
	border-radius: 10px
}


#container2 h1,
#container2 li {
	color: #3454D1;
}

#container2 {
	display: inline-block;
	background-color: #E8E9EB;
	padding: 20px;
	width: 47%;
	margin: 0;
	border-radius: 10px;
}

/*First Container*/

#container1 li {

	color: #3454D1;
	text-decoration: none;
}

#container1 {
	display: inline-block;
	background-color: #C8ADC0;
	padding: 20px;
	width: 47%;
	margin: 0;
	border-radius: 10px;
}

.container1img {
	border: 5px solid #E8E9EB;
	padding: 10px;
	border-radius: 10px
}

#containers1 {
	display: block;
}

/*Universal Container Items or Used Once*/
#images {
	display: block;
	background-color: rgba(200, 173, 192, 0.5);
	padding: 30px;
	border-radius: 10px;
}

#introimgs {
	max-width: 100%;
	height: auto;
	width: auto\9;
	/*ie 8*/
}

#introimg {
	display: inline-block;
	width: 100%;
}

.containerlinks {
	width: 100%;
	text-decoration: none;
}

#header1 {
	display: block;
	color: #3454D1;
	/*background-color: rgba(219, 80, 74, 0.5);*/
	border-radius: 5px;
	padding: 10px;
	text-decoration: underline;
}


/*Unique to index.html*/
#container h1 {
	text-decoration: none;
	font-weight: 450;
	padding: 20px;
}

#container {
	display: block;
	padding: 30px;
	margin-top: 60px;
}

/*Social Media*/
.ig {
	padding: 20px;
	border: 5px dashed #E8E9EB;
	border-radius: 10px;
}

.igposts {
	display: inline-flex;
}

#socialmedia h2 {}

#socialmedia h1 {
	display: block;
}

#socialmedia {
	display: block;
	background-color: #C8ADC0;
	width: 100%;
	padding-top: 40px;
	border-radius: 10px;
	justify-content: center;
	padding-bottom: 40px
}


/*Media & Graphics*/

.stats {
	border: 5px dashed #3454D1;
	border-radius: 10px;
	width:auto;
	height:auto;
}

#numbers h1 {
	font-weight: 200;
}

#numbers {
	padding: 40px;
	background-color: #E8E9EB;
}

#graphx {
	display: inline-flex;
	width: auto;
}

#videos h1 {
	color: #C8ADC0;
	padding: 25px;
}

#videos {
	display: block;
	color: #E3B505;
	background-color: #6665DD;
	width: 100%;
	padding-top: 30px;
	padding-bottom: 50px;
	border-radius: 10px;
	margin-bottom: 38px;
}





/*Nav, Footer, Logo, etc...*/

#logobackdrop {
	display: inline-block;
	background-color: rgba(200, 173, 192, 0.5);
	border-radius: 10px;
	padding-top: 30px;
	margin-top: 35px;
	margin-bottom: 30px;
	width: 75%
}

#logo1 {
	border: 5px solid #3454D1;
	border-radius: 150px;
	margin-bottom: 20px;
}

nav li a {
	display: inline-block;
	text-decoration: none;
	color: #3454D1;
	width: auto;
	padding: 10px
}


nav li a:hover {
	background-color: #3454D1;
	color: #E8E9EB;
	border-radius: 5px;
	text-decoration: underline;
	font-weight: 600;
}

nav li {
	display: inline;
	color: #E8E9EB;
	border-right: 1px solid #3454D1;
	border-radius: 5px;
	width: auto;
	float: left;
}

nav li:last-child {
	border-right: none;
}

nav li:first-child {
	border-right: none;
}


nav {
	position: fixed;
	top: 0;
	margin-top: 0;
	margin-right: 0;
	margin-left: 0;
	padding-bottom: 5px;
	width: 100%;
	background-color: #E8E9EB;
	border-radius: 10px;
}

footer {
	position: fixed;
	bottom: 0;
	margin-bottom: 0;
	width: 100%;
	background-color: #E8E9EB;
	padding: 10px;
	border-radius: 10px;
	margin-top: 0;
	color: #3454D1;
}

body {
	background-size: cover;
	/*width: 100%;
	height: 100%;*/
	margin: 0;
}
